terratowns_endpoint = "https://terratowns.cloud//api"
environment = "TerraHouse"
half_life = {
    content_version = 1
    public_path = "/workspace/terraform-beginner-bootcamp-2023/public/half-life"
}
bl_cevap = {
    content_version = 1
    public_path = "/workspace/terraform-beginner-bootcamp-2023/public/bl_cevap"
}